<section class='top-about-section main-section'>

  <div class='about-inner-container inner-section-container'>

    <div class='section-text-container'>

      <p class='section-text-large'>Introducing Vexen Motors.</p>

    </div>

    <div class='section-center-button-container'>

      <button class='section-center-button' ng-click='standardIf = true; launchIf = false; companyIf = false; reserveIf = false'><p>Standard Edition</p></button>

      <button class='section-center-button' ng-click='launchIf = true; standardIf = false; companyIf = false; reserveIf = false'><p>Launch Edition</p></button>

      <button class='section-center-button' ng-click='companyIf = true; standardIf = false; launchIf = false; reserveIf = false'><p>Company</p></button>


      <button class='reserve-button section-center-button' ng-click='reserveIf = true; standardIf = false; launchIf = false; companyIf = false'><p>Reserve</p></button>

    </div>

  </div>

</section>





<section class='about-info-section'  ng-if='standardIf'>

  <div class='break-div-container'>

    <div class='break-div'>

      <div class='break-slant'></div>

    </div>

  </div>

  <div class='about-inner-container'>

    <div class='info-container'>

      <div class='section-text-container'>

        <p class='section-text-medium'>Standard model</p>

        <p class='section-text-small'>The Lucid Air will have a starting price of $52,500*, with standard features and options that make it competitive with high-end benchmarks.</p>

      </div>

      <div class='section-text-container'>

        <p class='section-text-medium'>Standard model</p>

        <p class='section-text-small' style='margin-bottom: 0'>The Lucid Air will have a starting price of $52,500*, with standard features and options that make it competitive with high-end benchmarks.</p>

      </div>

    </div>

    <div class='car-and-price'>

    <div class='info-car-image-container'>

      <img class='car-model-image' src='http://i.imgur.com/bpsHjNt.jpg' />

    </div>

    <div class='pricing-container'>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

      <div class='pricing-block pricing-block2'>

        <p class='section-text-medium'>Middle</p>

      </div>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

    </div>

    </div>

  </div>

</section>





<section class='about-info-section' ng-if='launchIf'>

  <div class='break-div-container'>

    <div class='break-div'>

      <div class='break-slant' style='transform: skewY(-20deg)'></div>

    </div>

  </div>

  <div class='about-inner-container'>

    <div class='info-container'>

      <div class='section-text-container'>

        <p class='section-text-medium'>Standard model</p>

        <p class='section-text-small'>The Lucid Air will have a starting price of $52,500*, with standard features and options that make it competitive with high-end benchmarks.</p>

      </div>

      <div class='section-text-container'>

        <p class='section-text-medium'>Standard model</p>

        <p class='section-text-small' style='margin-bottom: 0'>The Lucid Air will have a starting price of $52,500*, with standard features and options that make it competitive with high-end benchmarks.</p>

      </div>

    </div>

    <div class='car-and-price'>

    <div class='info-car-image-container'>

      <img class='car-model-image' src='http://i.imgur.com/l4oZudc.jpg' />

    </div>

    <div class='pricing-container'>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

      <div class='pricing-block pricing-block2'>

        <p class='section-text-medium'>Middle</p>

      </div>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

    </div>

    </div>

  </div>

</section>





<section class='about-info-section' ng-if='companyIf'>

  <div class='break-div-container'>

    <div class='break-div'>

      <div class='break-slant' style='transform: skewY(20deg)'></div>

      <div class='break-slant' style='transform: skewY(-20deg)'></div>

    </div>

  </div>

  <div class='about-inner-container'>

    <div class='info-container'>

      <div class='section-text-container'>

        <p class='section-text-medium'>Standard model</p>

        <p class='section-text-small'>The Lucid Air will have a starting price of $52,500*, with standard features and options that make it competitive with high-end benchmarks.</p>

      </div>

      <div class='section-text-container'>

        <p class='section-text-medium'>Standard model</p>

        <p class='section-text-small' style='margin-bottom: 0'>The Lucid Air will have a starting price of $52,500*, with standard features and options that make it competitive with high-end benchmarks.</p>

      </div>

    </div>

    <div class='car-and-price'>

    <div class='info-car-image-container'>

      <img class='car-model-image' src='http://i.imgur.com/bpsHjNt.jpg' />

    </div>

    <div class='pricing-container'>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

      <div class='pricing-block pricing-block2'>

        <p class='section-text-medium'>Middle</p>

      </div>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

    </div>

    </div>

  </div>

</section>





<section class='about-info-section' ng-if='reserveIf'>

  <div class='break-div-container'>

    <div class='break-div'>

      <div class='break-slant' style='transform: skewY(-20deg)'></div>

      <div class='break-slant' style='transform: skewY(20deg)'></div>

    </div>

  </div>

  <div class='about-inner-container'>

    <div class='car-and-price'>

    <div class='info-car-image-container'>

      <img class='car-model-image' src='http://i.imgur.com/bpsHjNt.jpg' />

    </div>

    <div class='pricing-container'>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

      <div class='pricing-block pricing-block2'>

        <p class='section-text-medium'>Middle</p>

      </div>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

    </div>

    </div>

    <div class='car-and-price'>

    <div class='info-car-image-container'>

      <img class='car-model-image' src='http://i.imgur.com/l4oZudc.jpg' />

    </div>

    <div class='pricing-container'>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

      <div class='pricing-block pricing-block2'>

        <p class='section-text-medium'>Middle</p>

      </div>

      <div class='pricing-block'>

        <p class='section-text-medium'>Price</p>

      </div>

    </div>

    </div>

  </div>

</section>
