<section class='top-home-section main-section'>

  <div class='inner-section-container'>

  <div class='section-text-container'>

    <p class='section-text-large' style='margin-top: 80px'>The worlds first carbon negative vehicle</p>

  </div>

    <div class='section-center-button-container'>

      <button class='section-center-button' ui-sref='about'><p>Our Company</p></button>

      <button class='section-center-button' ui-sref='car'><p>Your Car</p></button>

    </div>

    <div class='downwards-arrow-container'>

      <img src='http://i.imgur.com/9ntH303.png' />

    </div>

  </div>


</section>

<!-- <section class='home-info-section'>

  <div class='inner-section-container'>

    <div class='info-left'>

      <div class='section-text-container'>

      <p class='section-text-medium'>Why Vexen Motors?</p>

      <p class='section-text-small'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

      <div class='section-text-container'>

      <p class='section-text-medium'>What does 'carbon negative' mean?</p>

      <p class='section-text-small'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

      <div class='section-text-container'>

      <p class='section-text-medium home-info-hidden'>Something should go here...</p>

      <p class='section-text-small home-info-hidden'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

  </div>

    <div class='info-right'>

    <div class='section-text-container'>

      <p class='section-text-medium'>Something should go here...</p>

      <p class='section-text-small'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

    </div>

  </div>


  </div>

</section> -->
