<section class='top-home-section main-section'>

  <div class='inner-section-container'>

  <div class='section-text-container'>

    <p class='section-text-large'>Keep the earth happy and healthy. Drive carbon negative for the first time <span>ever with Vexen Motors.</span></p>

  </div>

    <div class='section-center-button-container'>

      <button class='section-center-button' ui-sref='about'><p>Learn more</p></button>

      <button class='section-center-button'><p>Check out the car</p></button>

    </div>

    <div class='downwards-arrow-container'>

      <i class="fa fa-angle-double-down" aria-hidden="true"></i>

    </div>

  </div>


</section>

<section class='home-info-section'>

  <div class='main-carousel home-carousel-container' data-flickity='{ "cellAlign": "left", "contain": true }'>

    <div class='carousel-cell carousel-item' ng-repeat='data in carouselImages | limitTo: 5'>

      <img src='{{data.image}}' />

    </div>

  </div>

  <div class='inner-section-container'>

    <div class='info-left'>

      <p class='section-text-medium'>Why Vexen Motors?</p>

      <p class='section-text-small'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <p class='section-text-medium'>What does 'carbon negative' mean?</p>

      <p class='section-text-small'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

    <div class='info-right'>

      <p class='section-text-medium'>Something should go here...</p>

      <p class='section-text-small'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

  </div>


  </div>

</section>
