@import url('https://fonts.googleapis.com/css?family=Arimo:300|Raleway|Muli:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

$main-color: #1B1E1F;
$base-color: #202426;
$header-color: #383C3E;

.top-about-section {
  height: 100vh;
  // padding-top: 50px;
  background: url('./assets/images/vexen2.JPG');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: -200px;
  position: flex;
  justify-content: space-around;
  align-items: center;

  .inner-section-container {
    margin-top: -10vh;

    @media(max-width: 600px){
      margin-top: -20vh;
    }

    // @media(min-width: 1350px){
    //   margin-top: 0;
    // }
  }

  .section-text-container {
    margin-bottom: -10px;

    .section-text-large {
      margin-top: 0px;
      // color: #d8d8d8;
      color: black;
    }
  }
}

.about-info-section {
  // border: 1px solid white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  // @media(max-width: 1050px){
  //
  //   height: 150vh;
  // }

  .break-div-container {
    width: 100%;
    height: 10vh;
    // border: 1px solid black;
    display: flex;
    justify-content: space-around;
  }

  .break-div {
    width: 200px;
    height: 200px;
    margin-top: -90px;
    // background: $header-color;

    background: url('http://i.imgur.com/bpsHjNt.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    z-index: 10;

    .break-slant {
      width: 120%;
      height: 90px;
      transform: skewY(20deg);
      margin-top: -50px;
      background: $main-color;

      @media(max-width: 770px){
        display: none;
      }

    }

    @media(max-width: 770px){
      display: none;
    }
  }

  .about-inner-container {
    width: 100%;
    height: 98%;
    background: white;
    margin-top: -55px;

    .company-info-logo-container {
      width: 100%;
      height: 180px;
      // background: black;
      // margin-top: 5%;

      .logo-container {
        width: 180px;
        height: 180px;
        float: right;

        @media(max-width: 770px){
          float: none;
          margin: auto;
          margin-top: -10px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .info-container {
      width: 50%;
      height: 500px;
      display: flex;
      justify-content: space-between;
      margin: auto;
      flex-wrap: wrap;
      margin-top: -10vh;
      // align-items: center;

      @media(max-width: 770px){
        width: 90%;
        margin-top: -5vh;
      }

      .section-text-container {
        width: 500px;
        height: auto;
        margin: auto;

        .section-text-medium {
          color: black;
        }

        .section-text-small {
          margin: 0;
        }
      }
    }

    .about-image-container-right {
      float: right;
      width: 45%;
      height: 300px;
      // border: 1px solid black;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .about-image-container-left {
      float: left;
      width: 45%;
      height: 300px;
      // border: 1px solid black;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.about-board-section {

  .about-inner-container {
    height: 98%;
    width: 100%;
    background: $base-color;
    margin-top: 1vh;

    @media(max-width: 1100px){
      height: 160%;
    }

    @media(max-width: 555px){
      height: 300%;
    }

    .section-text-container {
      margin-top: 50px;
      margin-bottom: 100px;
      border: none;
      width: auto;
      // margin-left: 50px;

      .section-text-large {
        width: auto;
        margin-left: 90px;
        color: white;
        background: none;
      }
    }

    .board-section {
      width: 90%;
      height: 350px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .board-card {
        width: 250px;
        height: 100%;
        // border: 1px solid blue;
        margin-bottom: 100px;

        .board-image-container {
          height: 60%;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .section-text-container {
          width: 100%;
          height: 40%;
          margin-top: 10px;

          .section-text-medium {
            margin-bottom: 10px;
            // padding: 0
          }

          .section-text-small {

          }
        }
      }
    }
  }
}
