@import url('https://fonts.googleapis.com/css?family=Arimo:300|Raleway|Muli:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

$main-color: #1B1E1F;
$base-color: #202426;
$header-color: #383C3E;

.top-home-section {
  background: url('http://i.imgur.com/bpsHjNt.jpg');
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.home-info-section {
  height: 100vh;
  width: 100%;
  background: $main-color;
  // border: 1px solid white;
  display: flex;
  align-items: center;

  @media(max-width: 1000px){
    height: auto;
  }

  .inner-section-container {
    width: 90%;
    height: 80%;
    // border: 1px solid blue;
    margin: auto;
    // padding-top: 50px;
    // margin-top: 1%;
    display: flex;
    justify-content: space-between;
    // background: white;
  }
}

.home-carousel-container {
  width: 100%;
  height: 150px;
  // border: 1px solid yellow;
  display: flex;
  flex-wrap: wrap;

  @media(max-width: 1000px){
    margin-bottom: 200px;
  }

  @media(max-width: 750px){
    margin-bottom: 350px;
  }
}

.carousel-item {
  height: 100%;
  width: 20%;
  // border: 1px solid white;

  @media(max-width: 1000px){
    width: 33.33%;
    height: 110%;
  }

  @media(max-width: 750px){
    width: 50%;
  }

  // @media(max-width: 400px){
  //   width: 100%;
  // }

  img {
    width: 100%;
    height: 100%;
  }
}

.info-left {
  float: left;
  height: 100%;
  width: 48%;
  // border: 1px solid red;
  text-align: left;

  @media(max-width: 870px){
    width: 100%;
    margin-bottom: -70px;
  }

  @media(max-width: 650px){
    width: 100%;
    margin-bottom: -40px;
  }

  @media(max-width: 430px){
    width: 100%;
    margin-bottom: 30px;
  }

  @media(max-width: 400px){
    width: 100%;
    margin-bottom: 60px;
  }

  .home-info-hidden {
    display: none;

    @media(max-width: 870px){
      display: inherit;
    }
  }
}

.info-right {
  float: right;
  height: 100%;
  width: 48%;
  // border: 1px solid red;
  text-align: left;
  display: flex;
  align-items: center;

  @media(max-width: 870px){
    display: none;
  }
}
